$blanco: #F8F8F2;
$negro: #272822;
$grisMuyOscuro: #49483E;
$magenta: #F92672;
$cyan: #66D9EF;
$verde: #A6E22E;
$grisMedio: #75715E;
$naranja: #FD971F;
$curuba: #FFE792;
$moradito: #AE81FF;

$coloresLetra: $blanco, $magenta, $cyan, $verde, $naranja, $curuba, $moradito;

.lmagenta{
	color: $magenta;
}
.lmoradito{
	color: $moradito;
}
.lcyan{
	color: $cyan;
}
.lblanco{
	color: $blanco;
}
.lcuruba{
	color: $curuba;
}
.lverde{
	color: $verde;
}
body{
	background: $negro;
	font-family: 'Droid Sans Mono', ;
}
.container{
	margin: 0 auto;
	width: 960px;
}
.hcodigo{
	color: $verde;
	display: inline-table;
	background: $negro;
	z-index: 2;
	position: relative;
	margin-bottom: -18px;
	margin-left: 10px;
	padding: 0px 5px 5px 5px;
	&::after { 
    	content: "{";
		background: $negro;
		color: $blanco;
	}

}
h3, h4{
	color: $curuba;
	b{
		color: $verde;
	}
	span{
		color: $blanco;
	}
}

em{
	font-style: normal;
	color: $blanco;
    font-size: 1.5em;
 	margin-bottom: -30px;
    display: block;
    background: $negro;
    width: 20px;
    &.h1{
    	font-size: 2em;
	 	margin-bottom: -40px;
    }
}
#hojadevida, #encabezado, #personalSkills, #professionalSkills, #educationItems, #workItems, #intereses, #clientes{
	border: 1px dotted $curuba;
	position: relative;
	z-index: 1;
	padding: 20px;
	color: $curuba;
}


#encabezado{
	.fotoJohan{
		padding: 20px;
		float: left;
		width: 33%;
		img{
			max-width: 250px;
			height: auto;
		}
	}
	.encabezadoRight{
		float: left;
		width: 61%;
		.eRightTopRedes a{
			text-decoration: none;
			cursor: pointer;
		}
	}
}
.middle{
	#professionalSkills{
	    display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		.professionalSkill {
		    float: left;
		    padding: 20px;
		    display: flex;
		    justify-content: center;
			flex-direction: column;
			text-align: center;
		}
		em{
			position: absolute;
			bottom: 15px;
			left: 15px;
			font-weight: bold;
		}
	}
	#personalSkills{
		padding: 30px 30px 20px 30px;
	    display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		a{	
			text-decoration: none;
			&[data-peso = "1"]{
				color: nth($coloresLetra, 1);
				font-size: 1em;
			}
			&[data-peso = "2"]{
				color: nth($coloresLetra, 2);
				font-size: 1.5em;
			}
			&[data-peso = "3"]{
				color: nth($coloresLetra, 3);
				font-size: 2em;
			}
			&[data-peso = "4"]{
				color: nth($coloresLetra, 4);
				font-size: 2.5em;
			}
			&[data-peso = "5"]{
				color: nth($coloresLetra, 5);
				font-size: 3em;
			}
			&[data-peso = "6"]{
				color: nth($coloresLetra, 6);
				font-size: 3.5em;
			}
			&[data-peso = "7"]{
				color: nth($coloresLetra, 7);
				font-size: 4em;
			}
		}
		em{
			position: absolute;
			bottom: 15px;
			left: 15px;
			font-weight: bold;
		}
	}
	#educationItems, #workItems{
	    display: flex;
		flex-wrap: wrap;
		.educationItem, .workItem{
			width: 22%;
			text-align: center;
			margin: 20px 5px;
			padding: 5px;
			border: $curuba 1px dotted;
			display: flex;
			justify-content: center;
			flex-direction: column;
			.eiIcono{
				font-size: 2em;
			}
			.eiAnio, .wiAnio, .iiNombre{
				color: $verde;
				font-weight: bold;
			}
			.eiInstitucion, .wiCargo{
				color: $curuba;
			}
			.eiCarrera, .wiEmpresa{
				color: $magenta;
				font-weight: bold;
			}
			.wiImgEmpresa img, .iiImgEmpresa img{
				max-width: 150px;
				margin: 10px;
			}
			
		}
		em{
			position: absolute;
			bottom: 15px;
			left: 15px;
			font-weight: bold;
		}
	}
}

#intereses{
    display: flex;
	flex-wrap: wrap;
	.interes{
		width: 22%;
		text-align: center;
		margin: 20px 5px;
		padding: 5px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		.iiNombre{
			color: $verde;
			font-weight: bold;
		}
		.iiImgEmpresa img{
			max-width: 150px;
			margin: 10px;
		}
		
	}
	em{
		position: absolute;
		bottom: 15px;
		left: 15px;
		font-weight: bold;
	}
}