$blanco:#f8f8f2;   
$negro: #272822;
$grisMuyOscuro: #49483e;
$magenta: #F92672;
$cyan: #66f9ef;
$verde: #a6e22e; 
$grisMedio: #75715e;
$naranja: #fd971f;
$curuba: #ffe792;
$moradito: #ae81ff;
$mobile-split-width: 768px;
$coloresLetra: $blanco, $magenta, $cyan, $verde, $naranja, $curuba, $moradito;

.lmagenta{
	color: $magenta;
}
.lmoradito{
	color: $moradito;
}
.lcyan{
	color: $cyan;
}
.lblanco{
	color: $blanco;
}
.lcuruba{
	color: $curuba;
}
.lverde{
	color: $verde;
}