@import url('https://fonts.googleapis.com/css?family=Arimo');
$fte-arimo: 'Arimo',
sans-serif;
$blanco: #fff;
$cyan: #66f9ef;
$clr-letra1: #ffe792;
$gris4: #444;
$grisMedio: #75715e;
$grisMuyOscuro: #49483e;
$clr-letra2: #f92672;
$moradito: #ae81ff;
$naranja: #fd971f;
$negro: #000;

$clr-letra1: $negro;
$clr-letra2: $grisMuyOscuro;
$clr-letra3: $grisMedio;
$clr-letra4: $gris4;
$clr-letra-hover: $blanco;

$clr-fondo: $blanco;
$clr-borde: $negro;
$clr-borde2: $grisMedio;

body.mono {
	background: $clr-fondo;
	font-family: $fte-arimo;

	.container {
		width: 100%;
	}

	img,
	.percircle {
		filter: grayscale(100%);
	}

	.lmagenta {
		color: $clr-letra1;
	}

	.lmoradito {
		color: $clr-letra2;
	}

	.lcyan {
		color: $clr-letra3;
	}

	.lclr-fondo {
		color: $clr-letra4;
	}

	.lcuruba {
		color: $clr-letra1;
	}

	.lverde {
		color: $clr-letra2;
	}



	.hcodigo {
		background: $clr-fondo;
		color: $clr-letra1;

		&::after {
			display: none;
		}
	}

	h3,
	h4 {
		color: $clr-letra1;

		b {
			color: $clr-letra3;
		}

		span {
			color: $clr-letra4;
		}
	}

	em {
		display: none;
	}

	.cajaHV {
		border: 1px outset $clr-borde;
		color: $clr-letra1;
	}

	.hojadevidaBox {
		border: none;
	}

	#encabezado {
		justify-content: space-around;

		.fotoJohan {
			width: 22%;

			&:hover,
			&:focus {
				img {
					border: 10px solid $clr-letra3;
				}
			}
		}
	}

	.middle {
		#professionalSkills {
			.professionalSkill {
				#redcircle {
					border: 1px dotted $negro;

					span {
						background: $negro;
						height: 10px;
					}
				}
			}
		}
		
		#personalSkills {
			a {
				&[data-peso="1"] {
					color: $clr-letra1;
				}

				&[data-peso="2"] {
					color: $clr-letra2;
				}

				&[data-peso="3"] {
					color: $clr-letra3;
				}

				&[data-peso="4"] {
					color: $clr-letra4;
				}

				&[data-peso="5"] {
					color: $clr-letra1;
				}

				&[data-peso="6"] {
					color: $clr-letra2;
				}

				&[data-peso="7"] {
					color: $clr-letra3;
				}
			}
		}

		.referenciaItems {
			.educationItem,
			.workItem {
				border-bottom: $clr-borde 1px solid;
				border-left: none;
				border-right: none;
				border-top: none;

				.tagActual {
					background: $clr-letra1;
					color: $clr-fondo;
				}

				.eiAnio,
				.iiNombre,
				.wiAnio,
				.wiTelefono {
					color: $clr-letra3;
				}

				.eiInstitucion,
				.wiCargo,
				.wiJefe {
					color: $clr-letra1;
				}

				.eiCarrera,
				.wiEmpresa {
					color: $clr-letra2;
				}

				&:hover {
					background: $clr-letra3;
					color: $clr-letra-hover;

					.eiAnio,
					.iiNombre,
					.wiAnio,
					.wiTelefono {
						color: $clr-letra-hover;
					}

					.eiInstitucion,
					.wiCargo,
					.wiJefe {
						color: $clr-letra-hover;
					}

					.eiCarrera,
					.wiEmpresa {
						color: $clr-letra-hover;
					}
				}
			}
		}
	}

	#intereses {
		.interes {
			.iiNombre {
				color: $clr-letra3;
			}

			.iiImgEmpresa img {
				&:hover,
				&:focus {
					border: 8px solid $clr-fondo;
				}
			}
		}
	}

	.notificaciones_box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.tema_box {
			color: $clr-letra1;

			span {
				color: $clr-letra1;
			}

			li {
				list-style: none;
				float: left;
				margin: 2px;

				.fa-stack {
					border-radius: 50%;
				}

				&:hover {
					color: $clr-letra2;
					font-weight: bold;
					transform: scale(1.1);
				}
			}
		}

		.nota {
			.notaBox {
				background: $clr-fondo;

				p {
					color: $clr-letra2;
				}

				a {
					color: $clr-letra3;
				}
			}
		}

		.language_box {
			color: $clr-letra1;
			margin: 10px 0;

			li {
				cursor: pointer;
			}
		}
	}
}
