@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono');
$fte-droid-sans-mono: 'Droid Sans Mono',
monospace;
$blanco:#f8f8f2;
$cyan: #66f9ef;
$curuba: #ffe792;
$gris4: #444;
$grisMedio: #75715e;
$grisMuyOscuro: #49483e;
$magenta: #F92672;
$moradito: #ae81ff;
$naranja: #fd971f;
$negro: #272822;
$verde: #a6e22e;

$coloresLetra: $blanco,
$magenta,
$cyan,
$verde,
$naranja,
$curuba,
$moradito;

$clr-fondo: $negro;

body.monokai {
	background: $clr-fondo;
	font-family: $fte-droid-sans-mono;

	.lmagenta {
		color: $magenta;
	}

	.lmoradito {
		color: $moradito;
	}

	.lcyan {
		color: $cyan;
	}

	.lblanco {
		color: $blanco;
	}

	.lcuruba {
		color: $curuba;
	}

	.lverde {
		color: $verde;
	}



	.hcodigo {
		background: $negro;
		color: $verde;

		&::after {
			background: $negro;
			color: $blanco;
		}
	}

	h3,
	h4 {
		color: $curuba;

		b {
			color: $verde;
		}

		span {
			color: $blanco;
		}
	}

	em {
		background: $negro;
		color: $blanco;
	}



	.cajaHV {
		border: 1px dotted $curuba;
		color: $curuba;
	}

	#encabezado {
		.fotoJohan {
			&:hover,
			&:focus {
				img {
					border: 10px solid $blanco;
				}
			}
		}
	}

	.middle {
		#personalSkills {
			a {
				&[data-peso="1"] {
					color: nth($coloresLetra, 1);
				}

				&[data-peso="2"] {
					color: nth($coloresLetra, 2);
				}

				&[data-peso="3"] {
					color: nth($coloresLetra, 3);
				}

				&[data-peso="4"] {
					color: nth($coloresLetra, 4);
				}

				&[data-peso="5"] {
					color: nth($coloresLetra, 5);
				}

				&[data-peso="6"] {
					color: nth($coloresLetra, 6);
				}

				&[data-peso="7"] {
					color: nth($coloresLetra, 7);
				}
			}
		}

		.referenciaItems {
			.educationItem,
			.workItem {
				border: $curuba 1px dotted;

				&:hover {
					background: $gris4;
				}

				.eiAnio,
				.iiNombre,
				.wiAnio,
				.wiTelefono {
					color: $verde;
				}

				.eiInstitucion,
				.wiCargo,
				.wiJefe {
					color: $curuba;
				}

				.eiCarrera,
				.wiEmpresa {
					color: $magenta;
				}
			}
		}
	}

	#interesesItem {
		.interes {
			.iiNombre {
				color: $verde;
			}

			.iiImgEmpresa img {
				&:hover,
				&:focus {
					border: 8px solid $blanco;
				}
			}
		}
	}
	
	.notificaciones_box {
		.tema_box {
			color: $blanco;

			span {
				color: $curuba;
			}

			li {
				list-style: none;
				float: left;
				margin: 2px;

				.fa-stack {
					border-radius: 50%;
				}

				&:hover {
					color: $magenta;
				}
			}
		}

		.language_box {
			color: $curuba;
			margin: 10px 0;
 
			li {
				cursor: pointer;
			}
		}

		.nota {
			.notaBox {
				background: $clr-fondo;

				p {
					color: $grisMedio;
				}

				a {
					color: $cyan;
				}
			}
		}

	}

}
