@import "generals/mixins";
@import "generals/typography";
@import "generals/variables";
@import "generals/animations";
@import "generals/visual";
@import "generals/layout";
@import "themes/monokai";
@import "themes/mono";

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

.container {
	margin: 0 auto;
	width: 960px;

	@media screen and (max-width: $mobile-split-width) {
		width: 100%;
	}
}



.hcodigo {
	display: inline-table;
	margin-bottom: -18px;
	margin-left: 10px;
	padding: 0px 5px 5px 5px;
	position: relative;
	z-index: 2;


	@media screen and (max-width: $mobile-split-width) {
		font-size: 1em;
		margin-top: 20px;
	}
}

h1 {
	-webkit-animation: fadein 2s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s;
	/* Firefox < 16 */
	-ms-animation: fadein 2s;
	/* Internet Explorer */
	-o-animation: fadein 2s;
	/* Opera < 12.1 */
	animation: fadein 2s;

	@media screen and (max-width: $mobile-split-width) {
		&.hcodigo {
			font-size: 1.8em;
			margin-top: 0;
		}
	}
}

em {
	display: block;
	font-style: normal;
	font-size: 1.5em;
	margin-bottom: -30px;
	width: 20px;

	@media screen and (max-width: $mobile-split-width) {
		font-size: 1em;
	}

	&.h1 {
		font-size: 2em;
		margin-bottom: -40px;

		@media screen and (max-width: $mobile-split-width) {
			font-size: 1em;
		}
	}
}

.cajaHV {
	-webkit-animation: fadein 2s;
	/* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s;
	/* Firefox < 16 */
	-ms-animation: fadein 2s;
	/* Internet Explorer */
	-o-animation: fadein 2s;
	/* Opera < 12.1 */
	animation: fadein 2s;
	padding: 20px;
	position: relative;
	z-index: 1;

	@media screen and (max-width: $mobile-split-width) {
		padding: 5px;
	}
}

#encabezado {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	em {
		bottom: 15px;
		font-weight: bold;
		left: 15px;
		position: absolute;
	}

	.fotoJohan {
		float: left;
		padding: 20px;
		transition: transform ease-out .3s;
		width: 33%;

		img {
			border: 10px solid transparent;
			border-radius: 50%;
			height: auto;
			max-width: 250px;
			transition: border ease-in-out .5s;
		}

		@media screen and (max-width: $mobile-split-width) {
			float: none;
			padding: 5px;
			width: 100%;

			img {
				display: flex;
				max-width: 85%;
				margin: 0 auto;
			}
		}


		&:hover,
		&:focus {
			cursor: crosshair;
			transform: rotate(10deg);

			img {
				border-radius: 50%;
			}
		}
	}

	.encabezadoRight {
		float: left;
		width: 61%;
		@media screen and (max-width: $mobile-split-width) {
			width: 100%;
			float: none;
			font-size: 0.8em;
		}
		.eRightTopRedes {
			a {
				text-decoration: none;
				cursor: pointer;
				transition: color ease-in-out .5s;
				&:hover,
				&:focus {
					color: white;
				}
			}


		}
	}
}

.middle {
	#professionalSkills {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.professionalSkill {
			align-items: center;
			display: flex;
			flex-direction: column;
			float: left;
			justify-content: center;
			padding: 20px;
			text-align: center;
		}

		em {
			bottom: 15px;
			left: 15px;
			font-weight: bold;
			position: absolute;
		}
	}

	#personalSkills {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: -30px;
		padding: 30px 30px 20px 30px;

		a {
			text-decoration: none;

			&[data-peso="1"] {
				font-size: 1em;
			}

			&[data-peso="2"] {
				font-size: 1.5em;
			}

			&[data-peso="3"] {
				font-size: 2em;
			}

			&[data-peso="4"] {
				font-size: 2.5em;
			}

			&[data-peso="5"] {
				font-size: 3em;
			}

			&[data-peso="6"] {
				font-size: 3.5em;
			}

			&[data-peso="7"] {
				font-size: 4em;
			}
		}

		em {
			bottom: 15px;
			font-weight: bold;
			left: 15px;
			position: absolute;
		}
	}

	.referenciaItems {
		display: flex;
		flex-wrap: wrap;

		.educationItem,
		.workItem {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin: 20px 5px;
			padding: 5px;
			text-align: center;
			transition: background ease-out .3s;
			width: 22%;

			&:hover {
				cursor: pointer;
			}

			.tagActual {
				transform: rotate(330deg);
				width: 100px;
			}
			
			.eiIcono {
				font-size: 2em;
			}

			.eiAnio,
			.iiNombre,
			.wiAnio,
			.wiTelefono {
				font-weight: bold;
			}

			.eiCarrera,
			.wiEmpresa {
				font-weight: bold;
			}

			.wiImgEmpresa img,
			.iiImgEmpresa img {
				margin: 10px;
				max-width: 150px;
			}

			@media screen and (max-width: $mobile-split-width) {
				margin: 5px;
				width: 100%;

				p {
					font-size: 0.9em;
				}
			}
		}

		em {
			bottom: 15px;
			left: 15px;
			font-weight: bold;
			position: absolute;
		}
	}
}

#interesesItem {
	display: flex;
	flex-wrap: wrap;

	.interes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 20px 5px;
		padding: 5px;
		text-align: center;
		width: 22%;

		.iiNombre {
			font-weight: bold;
		}

		.iiImgEmpresa img {
			border: 8px solid transparent;
			border-radius: 50%;
			margin: 10px;
			max-width: 150px;
			transition: transform ease-out .3s;

			&:hover,
			&:focus {
				border-radius: 50%;
				cursor: crosshair;
				transform: scale(1.2) rotate(10deg);
			}
		}

		@media screen and (max-width: $mobile-split-width) {
			width: 100%;
		}
	}

	em {
		bottom: 15px;
		left: 15px;
		font-weight: bold;
		position: absolute;
	}
}



.notificaciones_box {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;


	.notificacion_item {
		width: 20%;

		@media screen and (max-width: $mobile-split-width) {
			box-sizing: border-box;
			width: 50%;
		}
	}

	.tema_box {
		padding: 20px;

		@media screen and (max-width: $mobile-split-width) {
			padding: 0;

			.lblTemaBox {

				display: none;
			}
		}

		li {
			cursor: pointer;

			.fa-stack {
				border-radius: 50%;
			}
		}
	}

	.nota {
		@media screen and (max-width: $mobile-split-width) {
			display: block;
			margin: 0 5px 10px 10px;
			width: 100%;
		}

		.notaBox {
			opacity: 0.9;
			padding: 3px 6px;
			@media screen and (max-width: $mobile-split-width) {
				float: none;
				position: relative;
				width: 100%;
			}

			p {
				font-size: 0.6em;
			}

			a {
				text-decoration: none;
			}
		}
	}
}
